.lego {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:0px;
    grid-template-areas: 
    "red1 red1 blue1 blue1"
    "red1 red1 blue1 blue1"
    "green1 green1 yellow1 yellow1"
    "green1 green1 yellow1 yellow1";
}
.red{
    grid-area: red1;
}
.yellow{
    grid-area: yellow1;
}
.green{
    grid-area: green1;
}
.blue{
    grid-area: blue1;
}

